Repository betagouv/Aidants_Connect, pull requests merged in 2022-04, with the labels that each got.

#581 Mise en place du processus métier de ValidationForm
  aidants_connect_habilitation/forms.py
  aidants_connect_habilitation/models.py
  aidants_connect_habilitation/tests/test_forms.py
  aidants_connect_habilitation/tests/test_views.py
  aidants_connect_habilitation/views.py
Labels: Internaliser l'habilitation

#610 Habilitation en masse par e-mail : évolutions
  aidants_connect_web/admin.py
  aidants_connect_web/models.py
  aidants_connect_web/templates/aidants_connect_web/admin/habilitation_request/mass-habilitation.html
  aidants_connect_web/tests/test_models.py
  aidants_connect_web/tests/test_views/test_admin.py
Labels: Plz review :parachute:

#598 Afficher et envoyer messages
  aidants_connect_habilitation/forms.py
  aidants_connect_habilitation/migrations/0017_auto_20220405_1655.py
  aidants_connect_habilitation/models.py
  aidants_connect_habilitation/static/css/main-habilitation.css
  aidants_connect_habilitation/static/css/main-habilitation.css.map
  aidants_connect_habilitation/static/scss/main-habilitation.scss
  aidants_connect_habilitation/templates/validation_form.html
  aidants_connect_habilitation/templates/view_organisation_request.html
  aidants_connect_habilitation/tests/test_views.py
  aidants_connect_habilitation/views.py
Labels: Plz review :parachute:

#604 Mise à jour de la dépendance magicauth
  requirements.txt
Labels: Plz review :parachute:

#608 Mise à jour des dependances mineures, patch et test
  requirements.txt
Labels: Plz review :parachute:

#593 Accepter une demande d'habilitation et créer l'organisation correspondante
  aidants_connect_habilitation/admin.py
  aidants_connect_habilitation/migrations/0018_organisationrequest_organisation.py
  aidants_connect_habilitation/models.py
  aidants_connect_habilitation/tests/test_models.py
  aidants_connect_web/models.py
Labels: Internaliser l'habilitation, Plz review :parachute:

#614 Supprimer les flaky tests et résoudre des bugs dans l'habilitation
  aidants_connect_habilitation/models.py
  aidants_connect_habilitation/tests/factories.py
  aidants_connect_habilitation/tests/test_models.py
Labels: Internaliser l'habilitation, Plz review :parachute:

#615 Rendu dynamique du formulaire de message
  aidants_connect_habilitation/forms.py
  aidants_connect_habilitation/static/js/message_form.js
  aidants_connect_habilitation/templates/request_messages/_message_item.html
  aidants_connect_habilitation/templates/request_messages/_messages.html
  aidants_connect_habilitation/templates/view_organisation_request.html
  aidants_connect_habilitation/views.py
Labels: Plz review :parachute:

#618 MAJ du SDK de Sentry
  requirements.txt
Labels: dependencies, Plz review :parachute:

#620 Suppression d'une disgracieuse barre de défilement
  aidants_connect_habilitation/static/css/main-habilitation.css
  aidants_connect_habilitation/static/css/main-habilitation.css.map
  aidants_connect_habilitation/static/scss/main-habilitation.scss
  aidants_connect_habilitation/templates/request_messages/_message_item.html
  aidants_connect_habilitation/templates/request_messages/_messages.html
  aidants_connect_habilitation/templates/view_organisation_request.html
Labels: Internaliser l'habilitation, Plz review :parachute:

#617 Envoyer un e-mail aux aidants/responsable/demandeur lorsqu'une demande d'habilitation est acceptée
  aidants_connect/settings.py
  aidants_connect_habilitation/admin.py
  aidants_connect_habilitation/forms.py
  aidants_connect_habilitation/templates/aidants_connect_habilitation/admin/organisation_request/accept_form.html
  aidants_connect_habilitation/templates/aidants_connect_habilitation/admin/organisation_request/change_form.html
  aidants_connect_habilitation/templates/email/demande_acceptee.txt
  aidants_connect_habilitation/templates/email/empty.html
  aidants_connect_habilitation/tests/test_admin.py
Labels: Internaliser l'habilitation, Plz review :parachute:

#619 Envoyer message depuis la page de validation de demande
  aidants_connect_habilitation/forms.py
  aidants_connect_habilitation/templates/validation_form.html
  aidants_connect_habilitation/tests/test_forms.py
  aidants_connect_habilitation/views.py
Labels: Internaliser l'habilitation, Plz review :parachute:

#616 Résolution de soucis mineurs d'héritage de classes
  aidants_connect_habilitation/views.py
Labels: Internaliser l'habilitation, Plz review :parachute:

#622 Mettre des liens "pas cassés" dans le menu habilitation
  aidants_connect_habilitation/static/css/main-habilitation.css
  aidants_connect_habilitation/static/css/main-habilitation.css.map
  aidants_connect_habilitation/static/scss/main-habilitation.scss
  aidants_connect_habilitation/templates/layouts/_header.html
Labels: Internaliser l'habilitation, Plz review :parachute:

#626 Ne pas jeter une 500 en cas d'erreur sur autre chose que l'e-mail
  aidants_connect_habilitation/views.py
Labels: Internaliser l'habilitation

#631 Correction envoie mail de confirmation après "soumettre la demande"
  aidants_connect_habilitation/models.py
  aidants_connect_habilitation/signals.py
  aidants_connect_habilitation/templates/email/organisation_request_creation.html
  aidants_connect_habilitation/templates/email/organisation_request_creation.txt
  aidants_connect_habilitation/tests/test_admin.py
Labels: Plz review :parachute:

#634 Validation que le code postal est bien composé de chiffres
  aidants_connect_habilitation/forms.py
  aidants_connect_habilitation/tests/test_forms.py
Labels: Plz review :parachute:

#633 Permettre la recherche par UUID dans les organisation des requêtes d'habilitations
  aidants_connect_habilitation/admin.py
Labels: Plz review :parachute:
